{
    "tagFormat": 's3proxy-${version}',
        "branches": [
            {
                "name": 'master',
                prerelease: false
            },
            {
                "name": 'releases\/+([0-9])?(\.\d+)(\.\d+|z|$)',
                prerelease: false
            },
            {
                "name": 'next',
                prerelease: false
            },
            {
                name: 'next-major',
                prerelease: true
            },
            {
                name: 'develop',
                prerelease: true
            },
            {
                name: 'develop\/.*',
                prerelease: true
            }
        ],
            plugins: [
                [
                    "@semantic-release/commit-analyzer",
                    {
                        "preset": "conventionalcommits",
                        "presetConfig": "conventional-changelog-conventionalcommits"
                    }
                ],
                "@semantic-release/release-notes-generator",
                ["@semantic-release/git", {
                    "assets": [
                        "pom.xml",
                    ],
                    "message": "chore(release): ${nextRelease.version}\n\n${nextRelease.notes}"
                }],
                ["@semantic-release/github"],
            ]
}